@font-face {
    font-family: 'Kanit';
    src: url(/fonts/Kanit-Regular.ttf);
}
body{
    background-color: #f3f3f3;
}

/* index + header */

nav{
    background-color: #ffffff;
    box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.25);
}
.btn-navbar{
    height: 80px;
    width: 80px;
    border: none;
    background-color: white;
    transition: 0.2s ease-in-out;
}
.btn-navbar:hover{
    background-color: #3db072;
}
.btn-navbar path{
    transition: 0.2s ease-in-out;
}
.btn-navbar:hover path{
    fill: #ffffff;
}
.btn-navbar:focus{
    outline: none;
}
.btn-navbar-profile{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 80px;
    border: none;
    background-color: white;
    transition: 0.2s ease-in-out;
}
.btn-navbar-profile:hover{
    background-color: #3db072;
}
.btn-navbar-profile ellipse, .btn-navbar-profile circle{
    transition: 0.2s ease-in-out;
}
.btn-navbar-profile:hover circle:first-child{
    stroke: white;
}
.btn-navbar-profile:hover circle:last-child{
    fill: white;
}
.btn-navbar-profile:hover ellipse{
    fill: #ffffff;
}
.btn-navbar-profile:focus{
    outline: none;
}
.navbar{
    height: 80px;
    padding: 0;
}
.btn-auth{
    text-decoration: none;
    color: #3db072;
    font-size: 22px;
    margin-left: 10px;
    transition: 0.2s ease-in-out;
    padding: 5px 15px;
    background: none;
    border: none;
}
.btn-auth:hover{
    color: #ffffff;
    border-radius: 100px;
    background-color: #3db072;
    box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.25);
}
.btn-auth:focus{
    outline: none;
}
.offcanvas{
    background-color: #ffffff;
}
.offcanvas-title{
    color: rgba(0, 0, 0, 0.5);
}
.btn-close{
    --bs-btn-close-focus-shadow: 0 0 0 0.25rem rgba(60, 175, 113, 0.31);
}
.nav-link{
    color: #3db072;
    font-size: 24px;
    font-weight: 500;
    padding: 1rem 0.5rem;
}
.nav-link:hover{
    background-color: #3DB072;
    color: white;
}
.nav-item{
    border: 2px solid #3DB072;
    border-width: 1px 0 1px 0;
}
.nav-item:first-child{
    border-width: 2px 0 1px 0;
}
.nav-item:last-child{
    border-width: 1px 0 2px 0;
}
.main-text{
    width: 53%;
    margin-top: 150px;
    margin-left: 80px;
    font-size: 150px;
    color: #3db072;
    font-family: 'Kanit';
    text-align: center;
}
.main-second-text{
    font-size: 24px;
    margin-left: 80px;
    text-align: center;
    width: 665px;
    color: rgb(0, 0, 0);
    margin-bottom: 20px;
}
.main-block-text{
    display: flex;
    width: 100%;
    background-color: #ffffff;
    border-radius: 100px;
    position: relative;
    
}
.main-block-text p{
    color: rgb(0, 0, 0);
}
.main-block-text-desc{
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35%;
}
.main-block-text-desc p{
    font-size: 20px;
    margin: 0;
    line-height: 96%;
}
.main-block-text-desc img{
    margin-right: 10px;
    margin-left: 60px;
}
.main-block-big-logo{
    position: absolute;
    bottom: 20%;
    right: 5%;
}
.main-title-new{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 40px;
    color: #000000;
    text-align: center;
}
.cstm-card-index{
    width: 100%;
    max-height: 250px;
    background-color: white;
    padding: 15px;
    box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}
.cstm-card-index img{
    width: 100%;
    max-height: 130px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 3px;
}
.cstm-card-index p{
    margin-bottom: 3px;
}
.cstm-card-index-cost{
    font-weight: 600;
}
.cstm-card-index a{
    text-decoration: none;
    color: black;
}
footer{
    margin-top: 50px;
    box-shadow: 0px -4px 6px 0px rgba(0, 0, 0, 0.25);
    width: 100%;
    background-color: white;
}
.footer-up-block{
    width: 100%;
    display: flex;
}
.footer-up-left-block{
    width: 50%;
}
.footer-up-left-block p{
    color: #696969;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 3px;
}
.footer-up-left-block img{
    width: 32px;
    margin-right: 5px;
}
.footer-up-right-block{
    text-align: right;
    width: 50%;
}
.footer-up-right-block a{
    margin-left: 5px;
}
.footer-up-text{
    color: #3DB072;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}
.footer-logo{
    margin-top: 25px;
    margin-bottom: 25px;
}
.footer-down-block{
    text-align: center;
    color: #696969;
    font-size: 20px;
    border-top: 2px solid #3DB072;
    margin-top: 15px;
    padding: 15px;
}
.modal-content{
    border: none;
}
.modal-header{
    border: none;
    justify-content: center;
}
.modal-header h1{
    width: 100%;
    text-align: center;
    margin-left: 40px;
    font-size: 25px!important;
}
.modal-header .btn-close{
    margin: 0;
}
.modal-body{
    padding: 0.5rem 2rem;
}
.modal-cstm-input{
    display: block;
    width: 100%;
    padding: .1rem .5rem;
    font-size: 1rem;
    font-weight: 400;
    color: #414141;
    border: 0;
    border-bottom: 2px solid #3DB072;
    outline: none;
    transition: 0.2s ease-in-out;
}
.modal-cstm-input:focus{
    border-color: #005829;
}
.cstm-label-modal{
    font-size: 18px;
    color: #5F5F5F;
    padding: 0 .5rem;
}
.modal-footer{
    border: none;
    justify-content: center;
    padding: 0 1rem 2rem 1rem;
}
.modal-cstm-btn{
    border: none;
    transition: 0.2s ease-in-out;
    color: #3DB072;
    background: none;
    border-radius: 25px;
    font-size: 18px;
    padding: 5px 30px;
    font-weight: 500;
}
.modal-cstm-btn:hover{
    box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.25);
    background-color: #3DB072;
    color: white;
}
.form-check-label{
    color: #5F5F5F;
}
.cstm-checkbox:checked{
    background-color: #3DB072;
    border-color: #3DB072;
}
.cstm-checkbox:focus{
    box-shadow: 0 0 0 0.25rem rgba(60, 175, 113, 0.31);
    border-color: #3DB072;
}
.auth-modal-mt{
    margin-top: 30vh;
}

/* post */

.post-main{
    width: 100%;
    margin-top: 40px;
    display: flex;
}
.post-main-left{
    width: 70%;
    padding: 0 10px;
}
.post-main-right{
    width: 30%;
    padding: 0 10px;
}
.slider-nav img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.swiper{
    width: 100%;
    height: 450px;
    border-radius: 10px;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.post-main-left-slider{
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.25);
    padding: 15px 40px 30px 40px;
}
.post-main-left-slider h2{
    color: #000;
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 15px;
}
.swiper-pagination-bullet-active{
    background-color: #3DB072;
}
.swiper-button-prev, .swiper-button-next{
    color: #3DB072;
}
.post-main-left-desc{
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.25);
    margin-top: 20px;
    padding: 20px;
}
.post-main-right-cost{
    background-color: white;
    width: 100%;
    border-radius: 15px;
    box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.25);
    padding: 20px;
}
.post-main-right-cost-title{
    margin: 0;
    font-size: 20px;
    color: #000;
    font-weight: 500;
}
.post-main-right-about{
    margin-top: 20px;
    background-color: white;
    width: 100%;
    border-radius: 15px;
    box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.25);
    padding: 20px;
}
.post-up-button{
    width: 100%;
    color: #3DB072;
    outline: none;
    background: none;
    transition: 0.2s ease-in-out;
    border-radius: 15px;
    margin: 10px 0;
    font-size: 20px;
    padding: 5px 0;
    border: 2px solid #3DB072;
    font-weight: 500;
}
.post-up-button:hover{
    color: white;
    background-color: #3DB072;
    box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.25);
}
.post-down-button-left, .post-down-button-right{
    width: 49%;
    color: #3DB072;
    border: none;
    outline: none;
    background: none;
    transition: 0.2s ease-in-out;
    border-radius: 15px;
    font-size: 16px;
    padding: 5px 0;
    border: 2px solid #3DB072;
    display: flex;
    align-items: center;
    justify-content: center;
}
.post-down-button-left svg, .post-down-button-right svg{
    margin-right: 3px;
}
.post-down-button-left path, .post-down-button-right path{
    transition: 0.2s ease-in-out;
}
.post-down-button-left:hover, .post-down-button-right:hover{
    color: white;
    background-color: #3DB072;
    box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.25);
}
.post-down-button-left:hover path{
    stroke: white;
}
.post-down-button-right:hover path{
    fill: white;
}
.post-main-right-cost-text{
    font-weight: 600;
    font-size: 30px;
    margin: 0;
}
.post-main-right-rating{
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
    color: #696969;
    margin-bottom: 0;
}
.post-main-right-seller{
    display: inline-flex;
    align-items: center;
    color: #696969;
    text-decoration: none;
    font-weight: 500;
}
.post-main-right-seller div{
    display: flex;
    align-items: center;
}
.post-main-right-seller p{
    display: flex;
    align-items: center;
    margin: 0;
    font-weight: 500;
    color: #696969;
}
.post-main-right-seller p img{
    width: 20px;
}
.post-main-right-seller img{
    margin-right: 3px;
}
.post-main-right-seller div{
    color: #000;
    margin-right: 10px;
}
.post-main-right-about-desc{
    margin-bottom: 5px;
}

/* catalog */

.catalog-filter-block{
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.25);
    padding: 10px 15px;
}
.catalog-filter-block-title{
    font-size: 20px;
}

/* profile */

.profile-bg-block{
    width: 100%;
    height: 250px;
    background-color: white;
    box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    padding: 25px;
}
.profile-bg-block-inside{
    height: 100%;
    width: 100%;
    background: url(/images/bg-profile.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    border-radius: 15px;
    padding: 0 100px;
}
.profile-bg-block-inside img{
    height: 175px;
    width: 175px;
    border-radius: 100%;
    object-fit: cover;
    border: 4px solid #3DB072;
}
.profile-bg-block-inside p{
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    margin-left: 10px;
    margin-bottom: 0;
}
.profile-personal-info{
    width: 100%;
    background-color: white;
    box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    padding: 10px 25px 20px 25px;
}
.profile-post-list{
    width: 100%;
    background-color: white;
    box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    padding: 10px 25px 20px 25px;
}